# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - name: Prepare Artifacts Prerequisites
      if: ${{ !contains(github.event.head_commit.message, 'staging_release_test') }}
      run: |
        cd /home/runner/work/engineQuel/engineQuel
        ls ./
    - name: Set environment variable
      run: echo "pkgx_version=$(npm pkg get version | tr -d '"')" >> $GITHUB_ENV
    - run: echo ${{ env.pkgx_version }}
    - run: |
        tar -czf "/home/runner/work/engineQuel/tram_v${{ env.pkgx_version }}.tar.gz" /home/runner/work/engineQuel/engineQuel/*
        cd /home/runner/work/engineQuel
        ls ./
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: "tram_v${{ env.pkgx_version }}"
        path: "/home/runner/work/engineQuel/tram_v${{ env.pkgx_version }}.tar.gz"
    
